.kanban-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .boards {
    display: flex;
    justify-content: space-between;
  }

  .buttons-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
  }
  
  .board {
    width: 33%;
    padding: 20px;
    background-color: rgba(226, 228, 230, 0.5);
    border-radius: 10px;
  }
  
  .tasks {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }  
  
  .task {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .task-buttons {
    margin-top: 20px; /* Agregamos un margen de 20px */
    display: flex;
    justify-content: space-between;
  }
  

  .create-task-button {
    background-color: green;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .create-button {
    background-color: #81C784;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
  }
  
  .delete-button {
    background-color: #E57373;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
  }
  
  .button-pastel {
    background-color: #ADD8E6; /* Color pastel */
    color: #333; /* Color del texto */
    border: 1px solid #333; /* Borde del botón */
    border-radius: 5px; /* Borde redondeado */
    padding: 10px 20px; /* Espacio interior */
  }
  
  .header {
    background-color: rgba(128, 128, 128, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .task h4 {
    margin-bottom: 8px;
  }
  
  .task p {
    margin: 0;
  }